.data-grid-table {
  position: absolute;
  width: 95%;
  height: 48px;
  left: 20px;
  top: 553px;
  background: #2a3b46;
  border-spacing: 0px;
}

.data-grid-table th {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
  padding: 12px 20px;
  text-align: left;
}

.data-grid-table td {
  padding: 12px 20px;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 10px;
  color: rgba(255, 255, 255, 0.55);
}

.data-grid-table tr.table-row {
  background: #1d303b;
  height: 42px;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.55);
}

.selected-mask {
  position: absolute;
  width: 100%;
  height: 108px;
  top: 78px;
  background: linear-gradient(
    0deg,
    rgba(0, 117, 185, 0.12),
    rgba(0, 117, 185, 0.12)
  );
  box-shadow: inset 0px 1px 0px #0075b9;
}

.data-grid-table tr.table-row td.table-line {
  background: #1d303b;
  height: 42px;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.85);
}

.table-row:nth-child(2n + 1) {
  box-shadow: inset 0px -1px 0px #384852;
}

.selected-line {
  position: absolute;
  left: 12px;
  top: 133px;
  width: 2px;
  height: 16px;
  background: #47c874;
}

.checkbox {
  position: absolute;
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 0.35);
}

.graph1 {
  position: absolute;
  width: 10px;
  height: 16px;
  left: 512px;
  top: 95px;
  background: rgba(0, 0, 0, 0.1);
  background: repeating-linear-gradient(
    -60deg,
    rgba(80, 121, 131, 0.0001) 0.01px,
    rgba(31, 159, 188, 0.3) 5px
  );
  mix-blend-mode: normal;
  opacity: 0.75;
  border-top: 1px dashed #2f9cff;
}

.graph2 {
  position: absolute;
  width: 10px;
  height: 16px;
  left: 20px;
  top: 150px;
  background: rgba(0, 0, 0, 0.1);
  background: repeating-linear-gradient(
    -60deg,
    rgba(255, 178, 0, 0.3) 0.01px,
    rgba(255, 178, 0, 0.0001) 5px
  );
  mix-blend-mode: normal;
  opacity: 0.55;
  border-top: 1px solid #ffb200;
}
