.data-grid-table {
  position: absolute;
  width: 95%;
  height: 48px;
  left: 20px;
  top: 553px;
  background: #2a3b46;
  border-spacing: 0px;
}

.data-grid-table th {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
  padding: 12px 20px;
  text-align: left;
}

.data-grid-table td {
  padding: 0px 20px 8px ;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 10px;
  color: rgba(255, 255, 255, 0.55);
}