.table-info-container {
  /* background: red; */
  position: absolute;
  width: 95%;
  height: 56px;
  left: 20px;
  top: 475px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),
    #1d303b;
  border-spacing: 0px;
}

.table-info-container th {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #b3bec4;
  padding: 12px 20px;
  text-align: left;
}
.table-info-container td {
  padding: 0px 20px 10px 20px;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.85);
}
